<header>
  <h1>ThisData API Demo</h1>
  <%= image_tag "/democo_logo.png" %>
</header>

<p>
  <%= link_to "Switch to Advanced", advanced_path %>.
</p>

<%= form_tag("/track", method: "post") do %>
  <div class="field">
    <%= label_tag(:user_email, "Email*") %>
    <%= text_field_tag('user[email]', '', required: true, autofocus: true) %>
  </div>
  <div class="field">
    <%= label_tag(:user_name, "Name") %>
    <%= text_field_tag('user[name]', '') %>
  </div>
  <div class="field">
    <%= label_tag(:user_mobile, "Mobile") %>
    <%= text_field_tag('user[mobile]', '') %>
  </div>
  <div class="field">
    <%= label_tag %>
    <%= button_tag("Log In") %>
  </div>
<% end %>


<h3>What is this?</h3>
<p>
  This demo shows the capabilities of the
  <%= link_to "ThisData Login Intelligence Platform", "https://thisdata.com" %>.
  It lets you pretend to log in to "Demo Co". If you make the events suspicious,
  it'll trigger an alert in the ThisData demo account.
</p>
<p>
  <%= link_to "Get in touch", "https://thisdata.com/contact" %> for a walk through
  this demo.
</p>
<p>
  In this simple case, your own IP and User Agent will be used.
  <%= link_to "Advanced mode ", advanced_path %> gives you control over more of
  the metadata we track.
</p>
<p>
  Check out the source code for this Ruby on Rails app at
  <%= link_to "https://github.com/thisdata/example-rails-app" %>
</p>