<section class="c-demo">
  <aside class="c-demo-sidebar">
    <article class="c-demo-sidebar__header">
      <ul class="m-media -middle -fluid">
        <li class="m-media__fig"><%= image_tag "thisdata-white.png", class: "c-demo-sidebar__logo" %></li>
        <li class="m-media__body"><h6 class="s-head -raw -semibold">PRODUCT DEMO</h6></li>
      </ul>
    </article>
    <article class="c-demo-sidebar__step">
      <h6 class="s-head -narrow -spaced -tight c-demo-sidebar__title">1. Log in to Ablemoney</h6>
      <p>Log in using your email address and any random, fake password.</p>
    </article>
    <article class="c-demo-sidebar__step">
      <h6 class="s-head -narrow -spaced -tight c-demo-sidebar__title">2. Log in Again</h6>
      <p>Open a new browser, using a VPN or via Tor. Then log in again with the same email address. Then you'll look suspicious!</p>
    </article>
    <article class="c-demo-sidebar__step">
      <h6 class="s-head -narrow -spaced -tight c-demo-sidebar__title">3. Check your Email</h6>
      <p>If an anomaly has been detected we will let you know.</p>
    </article>
  </aside>
  <div class="c-demo-frame">
    <div class="c-demo-content">
      <%= image_tag "logo.png", class: "c-demo-content__logo" %>
      <article class="c-demo-form">
        <h2 class="s-head -light -narrow">Log In</h2>
        <%= form_tag("/track", method: "post") do %>
          <div class="c-demo-form__field">
            <%= text_field_tag('event[user][email]', '', required: true, autofocus: true, type: "email", placeholder: "name@company.com") %>
          </div>
          <div class="c-demo-form__field">
            <%= text_field_tag('event[user][password]', '', placeholder: "password", type: "password") %>
          </div>

          <div class="l-box -row">
            <%= select_tag('event[ip]',
              options_for_select([
                ["Pretend to be from New Zealand",  "130.216.39.241"],
                ["Pretend to be from Australia",    "128.250.51.47"],
                ["Pretend to be using Tor",         "197.231.221.211"]
              ]),
              required: true, autofocus: true, placeholder: "Email",
              class: "js-nice-select nice-select"
            ) %>
          </div>

          <div class="c-demo-form__field u-pad-top-smaller">
            <%= button_tag("Log In", class: "s-button -green -fluid -sharp") %>
          </div>
        <% end %>
      </article>
    </div>
  </div>
</section>


<!-- <header>

  <h1>ThisData API Demo</h1>

</header>

<p>
  <%= link_to "Switch to Advanced", advanced_path %>.
</p>


<h3>What is this?</h3>
<p>
  This demo shows the capabilities of the
  <%= link_to "ThisData Login Intelligence Platform", "https://thisdata.com" %>.
  It lets you pretend to log in to "Demo Co". If you make the events suspicious,
  it'll trigger an alert in the ThisData demo account.
</p>
<p>
  <%= link_to "Get in touch", "https://thisdata.com/contact" %> for a walk through
  this demo.
</p>
<p>
  In this simple case, your own IP and User Agent will be used.
  <%= link_to "Advanced mode ", advanced_path %> gives you control over more of
  the metadata we track.
</p>
<p>
  Check out the source code for this Ruby on Rails app at
  <%= link_to "https://github.com/thisdata/example-rails-app" %>
</p> -->