<header>
  <h1>ThisData API Demo</h1>
  <%= image_tag "/democo_logo.png" %>
</header>

<p>
  <%= link_to "Switch to Advanced", advanced_path %>.
</p>

<%= form_tag("/track", method: "post") do %>
  <div class="field">
    <%= label_tag(:user_email, "Email*") %>
    <%= text_field_tag('user[email]', '', required: true, autofocus: true) %>
  </div>
  <div class="field">
    <%= label_tag(:user_name, "Name") %>
    <%= text_field_tag('user[name]', '') %>
  </div>
  <div class="field">
    <%= label_tag(:user_mobile, "Mobile") %>
    <%= text_field_tag('user[mobile]', '') %>
  </div>
  <div class="field">
    <%= label_tag %>
    <%= submit_tag("Log In") %>
  </div>
<% end %>


<h3>What is this?</h3>
<p>
  This demo shows the capabilities of the
  <%= link_to "ThisData Login Intelligence Platform", "https://thisdata.com" %>.
  It lets you fake logins to a ThisData account, to trigger alerts.
</p>
<ul>
  <li>
    Enter an email address. This will also be the user's id.
  </li>
  <li>
    Use the same email address with different IP address to simulate an account
    being logged in to from multiple locations.
  </li>
  <li>
    Check your email to see the "Was This You?" notification.
  </li>
  <li>
    Look at Slack to see the alert and user responses being posted.
  </li>
  <li>
    Look at the ThisData dashboard to see the events.
  </li>
</ul>