<!DOCTYPE html>
<html>
<head>
  <title>ThisData API Demo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <section class="banner">
    <% if flash[:notice] %>
      <div class="notice">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:error] %>
      <div class="error">
        <%= flash[:error] %>
      </div>
    <% end %>
  </section>

  <%= yield %>
</div>

</body>
</html>
